<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <main>
    <section class="top">
      {{ partial "about.html" . }}
      {{ partial "menu.html" . }}
      {{ partial "multilingual.html" . }}
    </section>
    <section class="middle">
      <div class="content">
        {{ block "main" . }}{{ end }}
      </div>
    </section>
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
